*{
    font-family: garamond;
}

.wrapper{
    margin: 0 auto;
    width: 970px;
    height: 660px;
    border: 2px solid #000;
}

.levels{
    vertical-align: bottom;
    margin-top: 110px;
}

h1{
    margin: 30px;
    display: inline-block;
}

p{
    padding: 5px;
}

.image{
    display: inline-block;
    position: absolute;
    right: 100px;
}

img{
    height: 200px;
}
