<div class="powerButton">
    <input type="number" name="quantity" min="1" max="100" placeholder="10" [(ngModel)]="power">

    <button (click)="OnInit" [(ngModel)]="power">Calculate Powers</button>
</div>


<div class="levels">
<app-human class="sections" [power]="power"> </app-human>

<app-saiyan class="sections" [power]="power"></app-saiyan>

<app-super-saiyan class="sections" [power]="power"></app-super-saiyan>

<app-super-saiyan-two class="sections" [power]="power"></app-super-saiyan-two>

<app-super-saiyan-three class="sections" [power]="power"></app-super-saiyan-three>

<app-super-saiyan-four  class="sections" [power]="power"></app-super-saiyan-four>
</div>
